<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <a :href="imageLink" target="_blank">
                    <img :src="image">
                </a>
            </div>
            <div class="product-info">
                <h1>{{ title }}</h1>
                <p :class="{ 'line-through':  !onSale || !inStock }">On Sale!</p>
                <p v-if="inStock && onSale">In Stock</p>
                <p v-else style="text-decoration: line-through;">Out of Stock</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div class="color-box" v-for="(variant, index) in variants" :key="variant.variantId"
                    @mouseover="showProductVariant(index)" :style="{'background-color': variant.variantColor}">
                </div>
                <div>
                    <span v-for="size in sizes" style="margin-right: 10px;">{{ size }}</span>
                </div>

                <button @click="addToCart" :disable="!inStock || !onSale"
                    :class="{ disabledButton: !inStock || !onSale }">Add to Cart</button>
                <button @click="removeFromCart" :disable="cartIsEmpty" :class="{ disabledButton: cartIsEmpty }">Remove
                    from Cart</button>
                <div class="cart">
                    <p>Cart ({{ cart }})</p>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>